/*全体設定*/
* {
	font-family: "游ゴシック体", YuGothic, "游ゴシック", "Yu Gothic", "Hiragino Kaku Gothic ProN", "ヒラギノ角ゴ ProN",
		"Hiragino Kaku Gothic Pro", Meiryo, メイリオ, "ＭＳ Ｐゴシック", sans-serif;
	list-style: none;
	text-decoration: none;
	box-sizing: border-box;
}
.gold {
	color: #b28850;
}
.black {
	color: #222222;
}
.white {
	color: #ffffff;
}
.a-opacity:hover {
	opacity: 0.7;
	transition: 0.5s;
}
.svg-icon {
	display: none;
}
.br-812px {
	display: none;
}
/* header-top */
header {
	width: 100%;
}
header .header-top {
	background-image: url(assets/service-background.png);
	padding: 26px 0px;
	position: fixed;
	width: 100%;
	box-sizing: border-box;
	top: 0;
	z-index: 999;
}
.header-top h1 {
	text-align: center;
}
.header-top svg {
	width: 190px;
	height: 48px;
}
.header-top ul {
	display: flex;
	position: absolute;
	top: 35px;
	right: 75px;
}
.header-top li {
	margin-left: 40px;
}
.header-top li a {
	border-bottom: 1px solid #222222;
	font-size: 16px;
	font-weight: 500;
}
@media all and (max-width: 812px) {
	header .header-top {
		padding: 17px 20px;
	}
	.header-top h1 {
		text-align: left;
	}
	.header-top svg {
		width: 114px;
		height: 36px;
	}
	.header-top ul {
		top: 22px;
		right: 24px;
	}
	.header-top li {
		margin-left: 30px;
	}
	.header-top li a {
		font-size: 13px;
	}
}
/* .header-bottom */
header .header-bottom {
	background-image: url(assets/nav-background.png);
	margin-top: 102px;
}
.header-bottom ol {
	display: flex;
	max-width: 960px;
	margin: 0 auto;
	padding: 7px 0px;
}
.header-bottom li {
	position: relative;
	margin-right: 35px;
}
.header-bottom .header-nav-1::before {
	content: ">";
	position: absolute;
	top: 3px;
	left: 45px;
	font-size: 12px;
}
.header-bottom .header-nav-2::before {
	content: ">";
	position: absolute;
	top: 3px;
	left: 105px;
	font-size: 12px;
}
.header-bottom a {
	font-size: 11px;
}
@media all and (max-width: 812px) {
	header .header-bottom {
		display: none;
	}
}
/* main-top */
main .main-top {
	padding: 55px 0px;
}
.main-contents-wrapper {
	max-width: 960px;
	margin: 0 auto;
	position: relative;
}
.main-top h2 {
	text-align: center;
	font-size: 42px;
}
.main-top h3 {
	text-align: center;
	margin-top: 15px;
	font-size: 18px;
}
.floor-icon {
	position: absolute;
	top: 10px;
	right: 10px;
}
.icon-floor-4 {
	fill: #b28850;
	width: 42px;
	height: 54px;
}
.ul-icon {
	display: flex;
	justify-content: center;
	margin-top: 16px;
}
.ul-icon li {
	margin-right: 10px;
	padding: 5px 13px;
	font-size: 12px;
}
.lesson-icon {
	background-color: #87a589;
}
.conseling-icon {
	background-color: #cc90a5;
}
.main-top p {
	text-align: center;
	margin-top: 40px;
	font-size: 18px;
	line-height: 1.5;
}
.main-top img {
	width: 100%;
	height: auto;
	margin-top: 45px;
}
.ul-news {
	border-top: 1px solid #b28850;
	border-bottom: 1px solid #b28850;
	margin-top: 55px;
	padding: 0px 30px 30px;
	position: relative;
}
.ul-news li {
	margin-top: 30px;
}
.ul-news time {
	margin-right: 80px;
	font-size: 18px;
	position: relative;
}
.ul-news time::after {
	position: absolute;
	top: 6px;
	right: -40px;
	width: 1px;
	height: 10px;
	border-right: 1px solid #b28850;
	content: "";
}
.ul-news a {
	font-size: 14px;
}
.ul-news p {
	position: absolute;
	bottom: 5px;
	right: 0px;
	font-size: 14px;
}
.ul-news .icon-down {
	fill: #b28850;
	width: 14px;
	height: 7px;
}
.ul-advertisement {
	display: flex;
	justify-content: center;
	margin-top: 40px;
}
.ul-advertisement li {
	margin: 0 10px;
}
.ul-advertisement img {
	margin: 0;
	max-width: 320px;
	height: auto;
}
/* nav main-top */
.main-top .ul-nav_main-top {
	display: flex;
	justify-content: space-evenly;
	flex-wrap: wrap;
	margin-top: 45px;
}
.ul-nav_main-top li {
	width: 50%;
	padding: 10px;
}
.ul-nav_main-top a {
	display: flex;
	border: 1px solid #b28850;
	align-items: center;
	justify-content: space-between;
	padding: 0px 24px;
	min-height: 68px;
	font-size: 14px;
	font-weight: 700;
}

.ul-nav_main-top a:hover {
	background-color: #b28850;
	color: #ffffff;
	transition: 0.5s;
}
.ul-nav_main-top a:hover .icon-down {
	fill: #ffffff;
	transform: translateY(10px);
	transition: 0.5s;
}

.ul-nav_main-top .icon-down {
	fill: #b28850;
	width: 14px;
	height: 7px;
}
@media all and (max-width: 812px) {
	main .main-top {
		margin-top: 73px;
		padding: 77px 0 30px;
	}
	.main-contents-wrapper {
		max-width: 764px;
		position: relative;
	}
	/* article main-top */
	.main-top h2 {
		font-size: 20px;
	}
	.main-top h3 {
		font-size: 15px;
	}
	.floor-icon {
		top: -90px;
		right: 48%;
	}
	.icon-floor-4 {
		width: 26px;
		height: 34px;
	}
	.ul-icon {
		margin-top: 20px;
	}
	.ul-icon li {
		padding: 4px 7px;
		font-size: 10px;
	}
	.main-top p {
		margin-top: 23px;
		font-size: 14px;
		line-height: 1.75;
	}
	.br-812px {
		display: inline;
	}
	.main-top img {
		margin-top: 40px;
	}
	/* news main-top */
	.ul-news {
		position: relative;
		margin-top: 40px;
		padding: 0px 0px 36px;
	}
	.ul-news li {
		margin-top: 24px;
	}
	.ul-news time {
		display: block;
		margin-bottom: 8px;
		font-size: 14px;
		position: relative;
	}
	.ul-news time::after {
		display: none;
	}
	.ul-news::after {
		position: absolute;
		top: 75px;
		left: 0px;
		width: 24px;
		height: 1px;
		border-top: 1px solid #b28850;
		content: "";
	}
	.ul-news a {
		font-size: 12px;
	}
	.ul-news p {
		position: absolute;
		bottom: 5px;
		right: 0px;
		font-size: 12px;
	}
	/* advertisement main-top */
	.ul-advertisement li {
		margin: 0 5px;
	}
	.ul-advertisement img {
		margin: 0;
	}
	/* nav main-top */
	.main-top .ul-nav_main-top {
		margin-top: 45px;
	}
	.ul-nav_main-top li {
		width: 100%;
		padding: 5px;
	}
	.ul-nav_main-top a {
		padding: 12px 12px;
		font-size: 13px;
	}
}
/* makeup-manu */
main .makeup-manu {
	background-image: url(assets/nav-background.png);
	padding-top: 10px 0px;
}
.makeup-manu h3 {
	background-image: url(assets/service-background.png);
	text-align: center;
	padding: 54px 0px 44px;
	font-size: 26px;
}
.makeup-manu article {
	background-image: url(assets/service-background.png);
	margin-top: 5px;
	padding: 60px 0px 60px;
}
.ul-article {
	display: flex;
}
article dt {
	margin-bottom: 30px;
	font-size: 22px;
}
article dd {
	margin-bottom: 20px;
	font-size: 16px;
}
.p-article {
	margin-bottom: 38px;
	line-height: 1.5;
	position: relative;
}
.p-article::before {
	position: absolute;
	bottom: -15px;
	left: 0;
	width: 48px;
	height: 1px;
	background-color: #222;
	content: "";
}
.price-article {
	font-size: 20px;
}
.price-article span {
	font-size: 16px;
}
dd span {
	font-size: 14px;
}
.ul-article img {
	width: 305px;
	height: auto;
	margin-top: 50px;
	margin-left: 40px;
}
article .link-lesson {
	display: block;
	border-top: 1px solid #b28850;
	border-bottom: 1px solid #b28850;
	margin-top: 40px;
	padding: 1.25em 32px;
	font-size: 16px;
	position: relative;
}
article .link-lesson::after {
	display: block;
	position: absolute;
	top: 50%;
	right: 30px;
	width: 25px;
	height: 2px;
	transform: translate(0, -50%);
	border-bottom: 1px solid #b28850;
	background-color: transparent;
	content: "";
}
article .link-lesson::before {
	position: absolute;
	top: 50%;
	right: 42px;
	width: 1px;
	height: 26px;
	transform: translate(0, -50%);
	border-top: 1px solid #fff;
	background-color: #b28850;
	content: "";
}
article .reservation {
	background-color: #ffffff;
	width: 620px;
	margin: 60px auto 0px;
	padding: 36px 40px 40px;
}
.reservation h4 {
	text-align: center;
	font-size: 17px;
}
.text-1-reserve {
	text-align: center;
	margin-top: 15px;
	font-weight: 700;
}
.text-2-reserve {
	text-align: center;
	margin-top: 30px;
	font-size: 14px;
}
.reservation .a-detail {
	display: flex;
	justify-content: space-between;
	align-items: center;
	border: 1px solid #b28850;
	width: 460px;
	min-height: 43px;
	margin: 10px auto 0;
	padding: 4px 24px;
	font-size: 14px;
	font-weight: 700;
}
.a-detail:hover {
	background-color: #b28850;
	color: #ffffff;
	transition: 0.5s;
}
.a-detail:hover .icon-arrow {
	fill: #ffffff;
	transform: translateX(10px);
	transition: 0.5s;
}
.icon-arrow {
	fill: #b28850;
	width: 23px;
	height: 5px;
}
.reservation ul {
	margin-top: 20px;
	font-size: 12px;
}
.reservation li {
	margin-top: 10px;
}
.tel-reserve {
	text-align: center;
	margin-top: 15px;
	font-size: 24px;
}
.time-reserve {
	text-align: center;
	margin-top: 10px;
	font-size: 12px;
}
.reservation .a-web {
	display: flex;
	background-color: #222222;
	justify-content: space-between;
	align-items: center;
	width: 300px;
	min-height: 43px;
	margin: 10px auto 0;
	padding: 4px 24px;
	font-size: 14px;
	font-weight: 700;
}
.web-arrow {
	fill: #ffffff;
}
.a-web:hover .icon-arrow {
	fill: #ffffff;
	transform: translateX(10px);
	transition: 0.5s;
}
@media all and (max-width: 812px) {
	.makeup-manu h3 {
		padding: 42px 0px 37px;
		font-size: 17px;
	}
	.makeup-manu article {
		background-image: url(assets/service-background.png);
		margin-top: 3px;
		padding: 30px 0px 60px;
	}
	.ul-article {
		display: block;
	}
	article dt {
		margin-bottom: 15px;
		font-size: 16px;
	}
	article dd {
		margin-bottom: 10px;
		font-size: 13px;
	}
	.p-article {
		margin-bottom: 38px;
	}
	.p-article::before {
		width: 24px;
	}
	.price-article {
		font-size: 15px;
	}
	.price-article span {
		font-size: 11px;
	}
	dd span {
		font-size: 11px;
	}
	.ul-article img {
		width: 631px;
		height: auto;
		margin: 0;
		margin-top: 30px;
	}
	article .link-lesson {
		margin-top: 30px;
		padding: 10 13px;
		font-size: 12px;
	}
	article .link-lesson::after {
		right: 12px;
		width: 15px;
	}
	article .link-lesson::before {
		right: 19px;
		height: 16px;
	}
	article .reservation {
		width: 100%;
		margin: 30px 0px;
		padding: 24px;
	}
	.reservation h4 {
		font-size: 15px;
	}
	.text-1-reserve {
		margin-top: 15px;
		font-size: 13px;
		line-height: 1.5;
	}
	.text-2-reserve {
		margin-top: 15px;
		font-size: 13px;
	}
	.reservation .a-detail {
		width: 100%;
		text-align: left;
		padding: 12px 18px;
		line-height: 1.5;
		font-size: 13px;
	}
	.reservation ul {
		margin-top: 20px;
		font-size: 11px;
	}
	.reservation li {
		margin-top: 10px;
	}
	.tel-reserve {
		margin-top: 15px;
		font-size: 20px;
	}
	.time-reserve {
		margin-top: 10px;
		font-size: 11px;
	}
	.reservation .a-web {
		width: 100%;
		padding: 12px 18px;
		line-height: 1.5;
		font-size: 13px;
	}
}
/* recommend */
main .recommend {
	background-color: #333;
	padding: 60px 0px;
}
.recommend h3 {
	text-align: center;
	font-size: 30px;
}
.recommend article {
	border-top: 1px solid #b28850;
	border-bottom: 1px solid #b28850;
	margin: 35px auto 0px;
	max-width: 960px;
}
.recommend article .ul-1 {
	display: flex;
	flex-wrap: wrap;
	margin: 40px 0px;
}
.recommend .li-1 {
	width: 50%;
}
.recommend article .ul-2 {
	display: flex;
}
.recommend article img {
	margin-right: 24px;
	width: 180px;
	height: 180px;
}
.recommend article div {
	margin-right: 18px;
}
.recommend article h4 {
	margin-top: 32px;
	font-size: 18px;
	position: relative;
}
.recommend article h4 ::before {
	content: "";
	position: absolute;
	top: 40px;
	background-color: #b28850;
	width: 55px;
	height: 1px;
}
.recommend article p {
	margin-top: 44px;
	font-size: 14px;
	line-height: 2;
}
.recommend .hash-tag {
	max-width: 960px;
	margin: 35px auto 0px;
}
.hash-tag ul {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
}
.hash-tag li {
	margin: 10px 0.85em;
}
.hash-tag a {
	border-bottom: 1px solid #ffffff;
}
@media all and (max-width: 812px) {
	main .recommend {
		padding: 40px 36px;
	}
	.recommend h3 {
		font-size: 20px;
	}
	.recommend article {
		margin: 18px auto 0px;
		max-width: 740px;
	}
	.recommend article .ul-1 {
		display: block;
		margin: 0px 0px;
		padding: 25px 0px;
	}
	.recommend .li-1 {
		width: 100%;
		margin-top: 15px;
	}
	.recommend article .ul-2 {
		display: flex;
	}
	.recommend article img {
		margin-right: 15px;
		width: 80px;
		height: 80px;
	}
	.recommend article div {
		margin-right: 18px;
	}
	.recommend article h4 {
		margin-top: 10px;
		font-size: 17px;
	}
	.recommend article h4 ::before {
		display: none;
	}
	.recommend article p {
		margin-top: 10px;
		font-size: 12px;
		line-height: 2;
	}
	.recommend .hash-tag {
		max-width: 740px;
		margin: 25px auto 0px;
		font-size: 11px;
	}
}
/* footer-top */
footer .footer-top {
	background-color: #222222;
	opacity: 0.7;
	padding: 0px 36px;
}
/* follow-section */
.follow-section {
	border-bottom: 1px solid #ffffff;
	margin: 0 auto;
	padding: 27px 12px;
}
.follow-section-left {
	display: flex;
	align-items: center;
}
.follow-section ul {
	display: flex;
}
.follow-icon {
	fill: #ffffff;
	width: 74px;
	height: 15px;
	margin-right: 20px;
}
.follow-section-left li {
	margin: 0px 10px;
}
.sns-icon {
	fill: #ffffff;
	width: 26px;
	height: 26px;
}
/* language-section */
.language-section {
	display: flex;
	justify-content: space-between;
	margin: 0 auto;
	padding: 27px 12px;
}
.language-section-left {
	display: flex;
}
.language-section-left ul {
	display: flex;
}
.language-icon {
	margin-right: 30px;
	fill: #ffffff;
	width: 79px;
	height: 21px;
}
.language-section-left li {
	margin-right: 1px;
}
.language-section-left a {
	display: inline-block;
	background-color: #9b9b9b;
	text-align: center;
	width: 92px;
	padding: 6px 2px;
	font-size: 13px;
}
.language-section-right {
	display: flex;
	margin-right: 15px;
}
.language-section-right li {
	margin-left: 30px;
}
.language-section-right a {
	font-size: 13px;
}
.icon {
	fill: #ffffff;
	width: 13px;
	height: 11px;
}
@media all and (max-width: 812px) {
	.follow-section {
		margin: 0 auto;
		text-align: center;
		padding: 30px 0px;
	}
	.follow-section-left {
		display: block;
		margin: 0px;
	}
	.follow-section-left ul {
		justify-content: center;
		margin-top: 28px;
	}
	.follow-icon {
		width: 84px;
		height: 17px;
		margin: 0px;
	}
	.sns-icon {
		width: 28px;
		height: 28px;
	}
	/* language-section */
	.language-section {
		display: block;
		text-align: center;
		margin: 0 auto;
		padding: 30px 0px;
	}
	.language-section-left {
		display: block;
		margin: 0px;
	}
	.language-section-left ul {
		justify-content: center;
		margin-top: 20px;
	}
	.language-icon {
		margin: 0px;
		width: 90px;
		height: 24px;
	}
	.language-section-left a {
		padding: 14px 13px;
		font-size: 13px;
	}
	.language-section-right {
		justify-content: space-around;
		border-top: 1px solid #ffffff;
		margin: 30px 0px 0px;
		padding-top: 30px;
	}
	.language-section-right li {
		margin-left: 30px;
	}
}
/* footer-bottom */
footer .footer-bottom {
	margin: 0 auto;
	padding: 15px 48px;
}
.footer-bottom ul {
	display: flex;
}
.shiseido-icon {
	fill: red;
	width: 120px;
	height: 20px;
	margin-right: 30px;
}
.footer-bottom a {
	font-size: 11px;
	position: relative;
}
.footer-bottom li a::before {
	display: block;
	border: 4px solid transparent;
	border-left: 6px solid;
	content: "";
	position: absolute;
	top: 3px;
	left: -14px;
}
@media all and (max-width: 812px) {
	.footer-bottom {
		padding: 15px;
	}
}
