/*全体設定*/
* {
  font-family: "游ゴシック体", YuGothic, "游ゴシック", "Yu Gothic",
    "Hiragino Kaku Gothic ProN", "ヒラギノ角ゴ ProN", "Hiragino Kaku Gothic Pro",
    Meiryo, メイリオ, "ＭＳ Ｐゴシック", sans-serif;
  list-style: none;
  text-decoration: none;
  box-sizing: border-box;
}
.gold {
  color: #b28850;
}
.black {
  color: #222222;
}
.white {
  color: #ffffff;
}
.a-opacity:hover {
  opacity: 0.7;
  transition: 0.5s;
}
.svg-icon {
  display: none;
}
.br-812px {
  display: none;
}
.no-br-812px {
  display: inline;
}
/* header-top */
header {
  width: 100%;
}
header .header-top {
  background-image: url(asset/service-background.png);
  padding: 26px 0px;
  position: fixed;
  width: 100%;
  box-sizing: border-box;
  top: 0;
  z-index: 999;
}
.header-top h1 {
  text-align: center;
}
.header-top svg {
  width: 190px;
  height: 48px;
}
.header-top ul {
  display: flex;
  position: absolute;
  top: 35px;
  right: 75px;
}
.header-top li {
  margin-left: 40px;
}
.header-top li a {
  border-bottom: 1px solid #222222;
  font-size: 16px;
  font-weight: 500;
}
@media all and (max-width: 812px) {
  header .header-top {
    padding: 17px 20px;
  }
  .header-top h1 {
    text-align: left;
  }
  .header-top svg {
    width: 114px;
    height: 36px;
  }
  .header-top ul {
    top: 22px;
    right: 24px;
  }
  .header-top li {
    margin-left: 30px;
  }
  .header-top li a {
    font-size: 13px;
  }
}
/* .header-bottom */
header .header-bottom {
  background-image: url(asset/nav-background.png);
  margin-top: 102px;
}
.header-bottom ol {
  display: flex;
  max-width: 960px;
  margin: 0 auto;
  padding: 7px 0px;
}
.header-bottom li {
  position: relative;
  margin-right: 35px;
}
.header-bottom .header-nav-2::before {
  content: ">";
  position: absolute;
  top: 3px;
  left: -20px;
  font-size: 12px;
}
.header-bottom .header-nav-3::before {
  content: ">";
  position: absolute;
  top: 3px;
  left: -20px;
  font-size: 12px;
}
.header-bottom a {
  font-size: 11px;
}
@media all and (max-width: 812px) {
  header .header-bottom {
    display: none;
  }
}
/* main-section-header */
.news h2 {
  text-align: center;
  font-size: 24px;
  padding: 35px 10px;
}
/* main-section-main */
.news .contents-wrapper {
  background-image: url(asset/service-background.png);
  padding-bottom: 30px;
}
.news .article_news {
  max-width: 960px;
  margin: 0 auto;
  padding: 60px 0px;
}
.article_news .time-title {
  font-size: 18px;
  position: relative;
}
.time-title ::before {
  content: "";
  position: absolute;
  top: 35px;
  width: 45px;
  height: 1px;
  background-color: #b28850;
}
.article_news dl {
  margin-bottom: 60px;
}
.article_news dl dt {
  margin-top: 44px;
  font-size: 32px;
}
dl .hash-tag {
  margin-top: 20px;
}
.hash-tag ul {
  display: flex;
}
.hash-tag li {
  margin-right: 20px;
}
.hash-tag a {
  display: inline-block;
  border-bottom: 1px solid #b28850;
  margin-top: 10px;
  font-size: 14px;
}
dl dd {
  max-width: 960px;
  margin-top: 40px;
  font-size: 16px;
}
dd img {
  max-width: 100%;
  max-height: 640px;
}
dd time {
  display: block;
  margin-top: 15px;
}
.dd-detail {
  line-height: 2;
}
@media all and (max-width: 812px) {
  .news h2 {
    font-size: 16px;
    margin-top: 73px;
    padding: 21px 0px;
  }
  /* main-section-main */
  .news .contents-wrapper {
    padding-bottom: 30px;
  }
  .news .article_news {
    max-width: 788px;
    margin: 0 auto;
    padding: 20px 0px;
  }
  .article_news .time-title {
    font-size: 14px;
  }
  .time-title ::before {
    top: 25px;
    width: 60px;
  }
  .article_news dl dt {
    margin-top: 25px;
    font-size: 18px;
  }
  .no-br-812px {
    display: none;
  }
  .hash-tag ul {
    display: flex;
  }
  .hash-tag li {
    margin-right: 20px;
  }
  .hash-tag a {
    margin-top: 10px;
    font-size: 12px;
  }
  dl dd {
    max-width: 960px;
    margin-top: 15px;
    font-size: 13px;
  }
  dd time {
    display: block;
    margin-top: 15px;
  }
  .dd-detail {
    line-height: 2;
  }
}
/* main-section-footer */
.news footer {
  border-top: 1px solid #b28850;
  width: 100%;
  margin: 50px auto 0;
}
.news footer .share-items {
  display: flex;
  justify-content: center;
  margin-top: 48px;
}
.share-icon {
  margin-top: 15px;
}
.share-items li {
  margin-left: 20px;
}
.share-items .share-icon {
  width: 66px;
  height: 20px;
}
.share-items svg {
  fill: #b28850;
  width: 48px;
  height: 48px;
}
.news footer .hash-tag_news {
  margin-top: 55px;
}
.news footer .back-link {
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid #b28850;
  max-width: 620px;
  min-height: 43px;
  margin: 0 auto;
  padding: 4px 24px;
  font-size: 16px;
}
@media all and (max-width: 812px) {
  .news footer {
    margin: 50px auto 0;
  }
  .news footer .share-items {
    display: flex;
    justify-content: center;
    margin-top: 48px;
  }
  .share-icon {
    margin-top: 15px;
  }
  .share-items li {
    margin-left: 20px;
  }
  .share-items .share-icon {
    width: 56px;
    height: 18px;
  }
  .share-items svg {
    width: 42px;
    height: 42px;
  }
  .news footer .back-link {
    display: block;
    border: 1px solid #b28850;
    text-align: center;
    max-width: 620px;
    margin: 30px auto 0;
    padding: 4px 24px;
    font-size: 16px;
  }
}
/* relation */
.news .relation {
  background-color: #ffffff;
  max-width: 900px;
  margin: 55px auto;
  padding: 60px 30px;
}
.relation h3 {
  text-align: center;
  font-size: 25px;
}
.relation .ul-1 {
  display: flex;
  flex-wrap: wrap;
  margin: 40px 0px 0px;
}
.relation .ul-1 li {
  width: 50%;
  margin-bottom: 30px;
}
.relation .ul-2 {
  display: flex;
}
.relation .ul-2 img {
  margin-right: 24px;
  max-width: 100px;
  max-height: 100px;
}
.relation .ul-2 h4 {
  position: relative;
}
.relation .ul-2 h4 ::before {
  content: "";
  position: absolute;
  top: 40px;
  background-color: #b28850;
  width: 55px;
  height: 1px;
}
.relation .ul-2 p {
  margin-top: 24px;
  font-size: 12px;
  line-height: 2;
}
@media all and (max-width: 812px) {
  .news .relation {
    max-width: 764px;
    margin: 20px auto;
    padding: 40px 24px 0px;
  }
  .relation h3 {
    font-size: 20px;
  }
  .relation .ul-1 {
    display: block;
    margin: 30px 0px 0px;
  }
  .relation .ul-1 li {
    width: 100%;
    margin-bottom: 20px;
  }
  .relation .ul-2 {
    display: flex;
  }
  .relation .ul-2 img {
    margin-right: 15px;
    max-width: 65px;
    max-height: 65px;
  }
  .relation .ul-2 h4 {
    position: relative;
    font-size: 11px;
  }
  .relation .ul-2 h4 ::before {
    top: 20px;
    width: 42px;
  }
  .relation .ul-2 p {
    margin-top: 18px;
    font-size: 12px;
    line-height: 2;
  }
}
/* recommend */
main .recommend {
  background-color: #333;
  padding: 60px 0px;
}
.recommend h3 {
  text-align: center;
  font-size: 30px;
}
.recommend article {
  border-top: 1px solid #b28850;
  border-bottom: 1px solid #b28850;
  margin: 35px auto 0px;
  max-width: 960px;
}
.recommend article .ul-1 {
  display: flex;
  flex-wrap: wrap;
  margin: 40px 0px;
}
.recommend .li-1 {
  width: 50%;
}
.recommend article .ul-2 {
  display: flex;
}
.recommend article img {
  margin-right: 24px;
  width: 180px;
  height: 180px;
}
.recommend article div {
  margin-right: 18px;
}
.recommend article h4 {
  margin-top: 32px;
  font-size: 18px;
  position: relative;
}
.recommend article h4 ::before {
  content: "";
  position: absolute;
  top: 40px;
  background-color: #b28850;
  width: 55px;
  height: 1px;
}
.recommend article p {
  margin-top: 44px;
  font-size: 14px;
  line-height: 2;
}
.recommend .hash-tag_recommend {
  max-width: 100%;
  margin: 35px auto 0px;
}
.hash-tag_recommend ul {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.hash-tag_recommend li {
  margin: 10px 0.85em;
}
.hash-tag_recommend a {
  border-bottom: 1px solid #ffffff;
}
@media all and (max-width: 812px) {
  main .recommend {
    padding: 40px 36px;
  }
  .recommend h3 {
    font-size: 20px;
  }
  .recommend article {
    margin: 18px auto 0px;
    max-width: 740px;
  }
  .recommend article .ul-1 {
    display: block;
    margin: 0px 0px;
    padding: 25px 0px;
  }
  .recommend .li-1 {
    width: 100%;
    margin-top: 15px;
  }
  .recommend article .ul-2 {
    display: flex;
  }
  .recommend article img {
    margin-right: 15px;
    width: 80px;
    height: 80px;
  }
  .recommend article div {
    margin-right: 18px;
  }
  .recommend article h4 {
    margin-top: 10px;
    font-size: 17px;
  }
  .recommend article h4 ::before {
    display: none;
  }
  .recommend article p {
    margin-top: 10px;
    font-size: 12px;
    line-height: 2;
  }
  .recommend .hash-tag_recommend {
    max-width: 740px;
    margin: 25px auto 0px;
    font-size: 11px;
  }
}
/* footer-top */
footer .footer-top {
  background-color: #222222;
  opacity: 0.7;
  padding: 0px 36px;
}
/* follow-section */
.follow-section {
  border-bottom: 1px solid #ffffff;
  margin: 0 auto;
  padding: 27px 12px;
}
.follow-section-left {
  display: flex;
  align-items: center;
}
.follow-section ul {
  display: flex;
}
.follow-icon {
  fill: #ffffff;
  width: 74px;
  height: 15px;
  margin-right: 20px;
}
.follow-section-left li {
  margin: 0px 10px;
}
.sns-icon {
  fill: #ffffff;
  width: 26px;
  height: 26px;
}
/* language-section */
.language-section {
  display: flex;
  justify-content: space-between;
  margin: 0 auto;
  padding: 27px 12px;
}
.language-section-left {
  display: flex;
}
.language-section-left ul {
  display: flex;
}
.language-icon {
  margin-right: 30px;
  fill: #ffffff;
  width: 79px;
  height: 21px;
}
.language-section-left li {
  margin-right: 1px;
}
.language-section-left a {
  display: inline-block;
  background-color: #9b9b9b;
  text-align: center;
  width: 92px;
  padding: 6px 2px;
  font-size: 13px;
}
.language-section-right {
  display: flex;
  margin-right: 15px;
}
.language-section-right li {
  margin-left: 30px;
}
.language-section-right a {
  font-size: 13px;
}
.icon {
  fill: #ffffff;
  width: 13px;
  height: 11px;
}
@media all and (max-width: 812px) {
  .follow-section {
    margin: 0 auto;
    text-align: center;
    padding: 30px 0px;
  }
  .follow-section-left {
    display: block;
    margin: 0px;
  }
  .follow-section-left ul {
    justify-content: center;
    margin-top: 28px;
  }
  .follow-icon {
    width: 84px;
    height: 17px;
    margin: 0px;
  }
  .sns-icon {
    width: 28px;
    height: 28px;
  }
  /* language-section */
  .language-section {
    display: block;
    text-align: center;
    margin: 0 auto;
    padding: 30px 0px;
  }
  .language-section-left {
    display: block;
    margin: 0px;
  }
  .language-section-left ul {
    justify-content: center;
    margin-top: 20px;
  }
  .language-icon {
    margin: 0px;
    width: 90px;
    height: 24px;
  }
  .language-section-left a {
    padding: 14px 13px;
    font-size: 13px;
  }
  .language-section-right {
    justify-content: space-around;
    border-top: 1px solid #ffffff;
    margin: 30px 0px 0px;
    padding-top: 30px;
  }
  .language-section-right li {
    margin-left: 30px;
  }
}
/* footer-bottom */
footer .footer-bottom {
  margin: 0 auto;
  padding: 15px 48px;
}
.footer-bottom ul {
  display: flex;
}
.shiseido-icon {
  fill: red;
  width: 120px;
  height: 20px;
  margin-right: 30px;
}
.footer-bottom a {
  font-size: 11px;
  position: relative;
}
.footer-bottom li a::before {
  display: block;
  border: 4px solid transparent;
  border-left: 6px solid;
  content: "";
  position: absolute;
  top: 3px;
  left: -14px;
}
@media all and (max-width: 812px) {
  .footer-bottom {
    padding: 0;
    padding-top: 15px;
    padding-bottom: 15px;
  }
}
